<div class="ui pointing menu negative">
        
        <a class="{{#menuActive active 'home'}} active {{/menuActive}} item " href="/user">
            Home
        </a>
        
        <a class="{{#menuActive active 'settings'}} active {{/menuActive}} item" href="/user/settings">
            Bot Settings
        </a>
        <a class="{{#menuActive active 'bots'}} active {{/menuActive}} item" href="/bot/active_bots">
            Running Bots
        </a>

        {{!-- <div class="right menu">
            <div class="item">
                <a class="ui button negative">Logout</a>
            </div>
        </div> --}}

    </div>