
<div class="ui container">
    <h3>Other Accounts</h3>
    <div class="ui cards centered">
        {{#each userAccounts.accounts as | userAccount | }}
            {{#if (ifNotEquals userAccount.id accountId) }}
                <div class="card">
                    <div class="content">
                        <div class="header">{{ userAccount.id }}</div>
                    </div>
                    <div class="ui buttons">
                        <a class="ui bottom attached red button" href="/user/accounts/{{userAccount.id}}">
                        <i class="add eye"></i>
                            details
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>