<div>
    <p>Type: {{transactionDetail.transaction.type}}</p>
    <p>Request ID: {{transactionDetail.transaction.requestID}}</p>
    <p>Currency: {{transactionDetail.transaction.homeCurrency}}</p>
    <p>Data: {{transactionDetail.transaction.time}}</p>
</div>
